[Unit]
Description=TellStoryDB
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=###USER###
ExecStart=###DEST_DIR###/bin/tellstorydb
WorkingDirectory=###DEST_DIR###/bin
[Install]
WantedBy=multi-user.target